body {
  background-color: #fff;
}

.mdl-card__media {
  margin: 0;
}

.mdl-card__media > img {
  max-width: 100%;
}

.mdl-card__actions {
  display: flex;
  box-sizing: border-box;
  align-items: center;
}

.mdl-card__actions > .mdl-button--icon {
  margin-right: 3px;
  margin-left: 3px;
}

.mdl-card__actions.mdl-card--border {
  position: absolute;
  bottom: 0;
}

.mdl-card__supporting-text {
  margin-bottom: 3em;
}

.mdl-card__supporting-text.bold {
  font-weight: bold;
  font-size: 1em;
  margin-bottom: 0;
}
